/* SWITCHES by xsiry */
.onoffswitch {
  position: relative;
  width: 54px;
	margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 0px;
  margin-left: -7px;
  background-color: #1AB394;
  color: #FFFFFF;
}